---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🖼️</text></svg>"
    />

    <meta
      name="description"
      content="Simple Image Compressor built with Astro, Tailwind CSS, and TypeScript. Compress images online with easy upload, preview, and download features."
    />
    <meta
      name="keywords"
      content="image compressor, online image compression, Astro framework, Tailwind CSS, TypeScript, web app, image resize, compress image, Vercel deployment, open-source image compression, image compression tool"
    />
    <meta name="author" content="Manohar" />
    <meta property="og:title" content="Simple Image Compressor" />
    <meta
      property="og:description"
      content="Compress images online with ease. Upload, preview, and download compressed images with the Simple Image Compressor built using Astro, Tailwind CSS, and TypeScript."
    />

    <meta property="og:image" content="/og.png" />
    <meta
      property="og:url"
      content="https://simple-image-compress.vercel.app/"
    />
    <meta name="twitter:image" content="/og.png" />
    <meta name="twitter:title" content="Simple Image Compressor" />
    <meta
      name="twitter:description"
      content="Compress images online with ease. Upload, preview, and download compressed images with the Simple Image Compressor built using Astro, Tailwind CSS, and TypeScript."
    />
    <meta name="twitter:card" content="summary_large_image" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
